$background: rgba(244, 244, 244, 0.778);
$background-light: rgb(252, 252, 252);
$border-table-color: rgba(187, 184, 184, 0.842);
$info: rgb(66, 66, 66);
$border-input: rgba(181, 180, 180, 0.778);
$blue: #0f265c;
