<div class="list-container">

  <div class="list-header">

    <div class="searcher">
      <input type="text" name="searchInput" [(ngModel)]="searchInput" placeholder="Search..." (input)="search()">
    </div>

    <a class="list-header__addButton"[routerLink]="['financialProductForm']">Agregar</a>

  </div>

  <div class="list-content">
    <div class="table-content">
      <table>
        <tr class="table-header">
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción </th>
          <th>
            <div class="header-info">
              <span>Fecha de liberación</span>
              <app-rounded-info text="i" tooltip="Es la fecha en la que los inversionistas pueden comenzar a adquirir o participar en ese producto específico" [size]="10"></app-rounded-info>
            </div>
             </th>
          <th>
            <div class="header-info">
              <span>Fecha de reestructuración</span>
              <app-rounded-info text="i" tooltip="
              La fecha de reestructuración en finanzas es cuando se hacen cambios importantes a un producto financiero existente, como tasas de interés o plazos de pago." [size]="10"></app-rounded-info>
            </div>
          </th>
        </tr>
        <tr class="row" *ngIf="data.length === 0" >
          <td colspan="5">No existen registros de Productos financieros.</td>
        </tr>
        <tr class="row" *ngFor="let product of data">
          <td>{{product.logo}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.date_release | date:'shortDate'}}</td>
          <td>{{product.date_revision | date:'shortDate'}}</td>
        </tr>
      </table>
    </div>

    <div class="list-footer">
      <div class="list-footer__label">{{total}} Resultados</div>

      <div class="list-footer__paginator">
        <button [disabled]="page === 0" class="list-footer__pages" (click)="goToPage(-1)">{{'<<'}}</button>
        <select class="list-footer__select" name="select" [(ngModel)]="sizeTable" (change)="buildData()">
          <option value="5">5</option>
          <option value="10" >10</option>
          <option value="20">20</option>
        </select>
        <button [disabled]="isLastPage" class="list-footer__pages" (click)="goToPage(1)">{{'>>'}}</button>

      </div>


    </div>

  </div>

</div>




