<div class="list-container" >

  <div class="list-header">

    <div class="searcher">
      <input type="text" name="searchInput" [(ngModel)]="searchInput" placeholder="Search..." (input)="search()">
    </div>

    <a class="list-header__addButton" [routerLink]="['financialProductForm']">Agregar</a>

  </div>

  <div class="list-content">
    <div class="table-content">
      <table *ngIf="!loadingData">
        <tr class="table-header">
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción </th>
          <th>
            <div class="header-info">
              <span>Fecha de liberación</span>
              <app-rounded-info text="i" tooltip="Es la fecha en la que los inversionistas pueden comenzar a adquirir o participar en ese producto específico" [size]="10"></app-rounded-info>
            </div>
             </th>
          <th>
            <div class="header-info">
              <span>Fecha de reestructuración</span>
              <app-rounded-info text="i" tooltip="
              La fecha de reestructuración en finanzas es cuando se hacen cambios importantes a un producto financiero existente, como tasas de interés o plazos de pago." [size]="10"></app-rounded-info>
            </div>
          </th>
          <th></th>
        </tr>
        <tr class="row" *ngIf="data.length === 0" >
          <td colspan="5">No existen registros de Productos financieros.</td>
        </tr>
        <tr class="row" *ngFor="let product of data">
          <td class="row-img">
            <img [src]="product.logo"/>
          </td>
          <td>{{product.name}}</td>
          <td class="row-description">{{product.description}}</td>
          <td>{{product.date_release | date:'shortDate'}}</td>
          <td>{{product.date_revision | date:'shortDate'}}</td>

          <td class="row-options">
            <img (click)="asignProduct(product)"  class="options-icon"  src="https://img.icons8.com/?size=256&id=98963&format=png">
            <div class="row-options__menu" *ngIf="product.id === rowSelected?.id">
              <a   class="row-options__menu__item" [routerLink]="['financialProductForm']" [state]="product">Editar</a>
              <div class="row-options__menu__item" (click)="showModal = true; " >Eliminar</div>
            </div>

          </td>
        </tr>
      </table>

      <table *ngIf="loadingData">
        <tr class="table-header">
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción </th>
          <th>
            <div class="header-info">
              <span>Fecha de liberación</span>
            </div>
             </th>
          <th>
            <div class="header-info">
              <span>Fecha de reestructuración</span>
            </div>
          </th>
          <th></th>
        </tr>
        <tr class="row" *ngFor="let _ of [1,2,3,4,5,6]" >
          <td class="row-skeleton" *ngFor="let _ of [1,2,3,4,5,6]"><span>&nbsp;</span></td>
        </tr>
      </table>
    </div>

    <div class="list-footer">
      <div class="list-footer__label">{{total}} Resultados</div>

      <div class="list-footer__paginator">
        <button [disabled]="page === 0" class="list-footer__pages" (click)="goToPage(-1)">{{'<<'}}</button>
        <select class="list-footer__select" name="select" [(ngModel)]="sizeTable" (change)="buildData()">
          <option value="5">5</option>
          <option value="10" >10</option>
          <option value="20">20</option>
        </select>
        <button [disabled]="isLastPage" class="list-footer__pages" (click)="goToPage(1)">{{'>>'}}</button>

      </div>


    </div>

  </div>

</div>


<div class="modal" *ngIf="showModal">
  <div class="modal__content">
    <div class="modal__title">
      ¿Estas seguro de eliminar el producto {{rowSelected?.name}}?
    </div>

    <div class="modal__buttons">
      <button class="modal__buttons-1" (click)="cancelDelete()">Cancelar</button>
      <button class="modal__buttons-2" (click)="delete()">Confirmar</button>
    </div>

  </div>
</div>

